export UPVEST_API_HTTP_SIGN_PRIVATE_KEY_FILE="Path to the private key file"
export UPVEST_API_HTTP_SIGN_PRIVATE_KEY_PASSPHRASE="Passphrase for the private key"
export UPVEST_API_KEY_ID="API key ID"
export UPVEST_URL="URL of the Upvest API"
export UPVEST_API_CLIENT_ID="API client ID"
export UPVEST_API_CLIENT_SECRET="API client secret"
export UPVEST_API_CLIENT_SCOPE="API client scope"
