# Explicit requirements
cryptography==41.0.3
environs==9.5.0
PGPy==0.6.0
requests==2.31.0

# Python internals
pip==23.2.1
setuptools==68.2.2
wheel==0.41.2

# 2nd level requirements for cryptography
cffi==1.15.1
pycparser==2.21

# 2nd level requirements for environs
marshmallow==3.20.1
packaging==23.1
python-dotenv==1.0.0

# 2nd level requirements for PGPy
pyasn1==0.5.0

# 2nd level requirements for requests
certifi==2023.7.22
charset-normalizer==3.2.0
idna==3.4
urllib3==2.0.4
