# This code example should always refer to the latest version, so no pinned
# version here. At least for now.
# Our code examples do indeed require the "env-settings", "file-download" and
# "requests-auth" extras to be installed, so we do it here.
upvest-investment-api[env-settings,file-download,requests-auth]
